
.quicksand{
    font-family: "Quicksand", serif;
}
.raleway{
    font-family: "Raleway", serif;
}
/* ///common styles/// */
button{
    font-size: 20px; font-weight: 600;
    color: white;
    background-color: orange;
    border: none; border-radius: 12px;
    width: 197px; height: 50px;
}
button:hover{
    background-color: orangered;
}
/* ////nav bar//// */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
nav div{
    display: flex;
    align-items: center;
}
.nav-logo{
    width: 62px; height: 62px;
}
nav h1{
    font-size: 2rem; font-weight: bold;
    color: black;
    margin: 0;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 1.25rem; font-weight: 600;
}
nav li:hover{
    transform: rotate(25deg);
}
.nav-menu{
    display: none;
}

/* ///////banner section/////// */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 140px;
}
.banner-text{
    max-width: 600px;
}
.banner-text h1{
    font-size: 3.5rem; font-weight: bold;
    color: black;
    margin: 0;
}
.banner-text p{
    font-size: 1.25rem; font-weight: normal;
    color: black;
    margin: 24px auto;
}
.banner-button{
    background-color: black;
}
.banner-button:hover{
    background-color: orangered;
}
/* ///////curriculum section/////// */
.curriculum{
    width: 100%;
    background-image: url(../assets/bg.png);
}
.curriculum h1{
    font-size: 46px; font-weight: bold;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.curriculum-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
    margin: auto 120px;
}
.curriculum-card{
    text-align: center;
    padding: 40px 40px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 19px;
    width: 300px;
}
.curriculum-card img{width: 135px; margin: 20px auto;}
.curriculum-card h4{
    font-size: 24px; font-weight: bold;
    color: #202020;
    margin: 0 auto;
}
.curriculum-card p{
    font-size: 15px; font-weight: 500px;
    color: #808080;
    margin: 35px auto;
}
.curriculum-card b{
    font-size: 15px; font-weight: bold;
    margin: 0 auto;
}
.curriculum-card b:hover{
    font-size: 18px;
}
.curriculum-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 60px auto;
}
.curriculum-arrow p{
    color: white;
    background-color: orange;
    width: 50px; height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.curriculum-arrow p:hover{
    width: 60px; height: 60px;
}



/* ///////////////footer/////////////// */
footer{
    background-color: #01ACFD;
}
footer > div{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 130px; padding-bottom: 180px;
    margin: auto 120px;
}
.about-desc{width: 380px;}
.about-desc img{
    width: 80px;
}
.about-desc > div{
    display: flex;
    align-items: center;
    justify-content: start;
}
.about-desc h1{
    font-size: 42px; font-weight: bold;
    color: white;
    margin: 0;
}
.about-desc p{
    font-size: 20px; font-weight: normal;
    color: white;
}
.about-school h5{
    font-size: 24px; font-weight: bold;
    color: white;
    margin: 0;
    margin-bottom: 32px;
}
.about-school ul{padding: 0;}
.about-school li{list-style: none; margin-bottom: 20px;}
.about-school a{
    text-decoration: none;
    font-size: 20px; font-weight: 500;
    color: white;
}
.about-school a:hover{
    color: orange;
}
.contact-icon h4{
    font-size: 26px; font-weight: bold;
    color: white;
    margin: 0;
    margin-bottom: 20px;
}
.contact-icon img{width: 40px;}
.contact-icon img:hover{
    transform: rotate(-20deg);
}


@media screen and (max-width:576px) {
    /* nav bar */
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:auto;
        border-bottom: 1px orange solid;
    }
    nav ul{display: none;}
    nav h1{display: none;}
    button{display: none;}
    .nav-menu{
        display: flex;
        width: 50px;
        margin: 10px;
    }
    /* banner */
    .banner{
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }
    .banner-text{
        max-width: fit-content;
        text-align: center;
        margin: 20px auto;
    }
    .banner-text h1{
        font-size: 2.5rem;
    }
    .banner-text p{
        font-size: 0.875rem;
    }
    .banner-img{width: 90%; margin: 20px auto;}
    .banner-button{
        display: block;
        margin: 20px auto;
    }
    /* curriculum */
    /* .curriculum{display: none;} */
    .curriculum h1{
        font-size: 30px;
    }
    .curriculum-cards{
        display:block;
        margin: auto;
    }
    .curriculum-card{
        margin: 50px auto;
    }



    /* footer */
    footer > div{
        display: block;
        padding-top: 130px; padding-bottom: 180px;
        margin-left: 20px;
        width: fit-content;
    }
}